<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            color: #333;
        }
        header {
            background-color: #2c3e50;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        a{
            color: white;
            text-decoration: none;
        }

        .to-home-page-btn{
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Our Most Popular Games</h1>
        <button type="button" class="btn btn-info to-home-page-btn">Back To Home Page</button>
        <p>Exploring the world of gaming</p>
    </header>
    <div class="container">
        <h2>Nba 2k23</h2>
        <h2>Game Overview</h2>
        <p>Welcome to the exciting world of The NBA 2K23! Get ready for an adventure like no other.***** NBA 2K23 is a 2022 basketball video game developed by Visual Concepts and published by 2K, based on the National Basketball Association (NBA). It is the 24th installment in the NBA 2K franchise and is the successor to NBA 2K22. The game was released on September 9, 2022 for Microsoft Windows, Nintendo Switch, PlayStation 4, PlayStation 5, Xbox One and Xbox Series X/S. The NBA 2K23 Arcade Edition was released on Apple Arcade on October 18, 2022.</p>

        <h2>Game Trailer</h2>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RxLS5Tgo9YM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="container">
        <h2>Fifa 22</h2>
        <h2>Game Overview</h2>
        <p>FIFA 22 is a football simulation video game published by Electronic Arts. It is the 29th installment in the FIFA series, and was released worldwide on 1 October 2021 for Nintendo Switch, PlayStation 4, PlayStation 5, Stadia, Windows, Xbox One, and Xbox Series X/S.</p>

        <h2>Game Trailer</h2>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/o1igaMv46SY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="container">
        <h2>Call Of Duty</h2>
        <h2>Game Overview</h2>
        <p>Call of Duty is a 2003 first-person shooter game developed by Infinity Ward and published by Activision. It is the first installment in the Call of Duty franchise,[3] released on October 29, 2003, for Microsoft Windows. The game simulates infantry and combined arms warfare of World War II using a modified version of the id Tech 3 engine. Much of its theme and gameplay is similar to the Medal of Honor series; however, Call of Duty showcases multiple viewpoints staged in the American, British, and Soviet theaters of World War II.</p>

        <h2>Game Trailer</h2>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mHDEDDrGYvo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="container">
        <h2>Super Mario</h2>
        <h2>Game Overview</h2>
        <p>Super Mario is a platform game series created by Nintendo starring their mascot, Mario. It is the central series of the greater Mario franchise. At least one Super Mario game has been released for every major Nintendo video game console. There are more than 20 games in the series.</p>

        <h2>Game Trailer</h2>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6umlOfTip4k" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
        <div class="container">
            <h2>dead island</h2>
            <h2>Game Overview</h2>
            <p>Dead Island 2 is a unique formula of horror, dark humor and over the top zombie-slaying, spanning an epic pulp adventure.
                This thrilling First-Person, Action RPG takes players across a brand-new playground – a hellish vision of LA (or HELL-A, as we like to call it). Dead Island 2 is stylish, vibrant and flooded with zombie infection. Explore iconic, gore-drenched Los Angeles. Meet larger-than-life characters. Slay countless foes in exquisitely bloody detail. And evolve to become the ultimate Zombie Slayer!
                </p>
    
            <h2>Game Trailer</h2>
            <div style="text-align: center;">
                <iframe width="560" height="315" src=https://www.youtube.com/embed/IG8kCnYnRsw frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

            <div class="container">
                <h2>red dead redemption 2</h2>
                <h2>Game Overview</h2>
                <p>Red Dead Redemption is a third person open-world action adventure game set in the Wild West.

                    Released by Rockstar Games in 2010, RDR came on the back of their already phenomenally successful Grand Theft Auto series and is often described as GTA on horseback.
                    
                    Set in 1911, the main protagonist is gunslinger John Marston, whose family have been kidnapped by the government to force him into tracking down the remaining members of his old gang of outlaws.
                    
                    Marston roams around a massive open-world environment, on foot, horseback and in various wagons, meeting and interacting with items and characters.
                    
                    Fighting is realistic and takes a great deal of targeting skill. It also makes use of ‘Dead Eye’, a gameplay mechanic that enables enemies to be targeted in slow motion. You can take cover, run away, or target specific body parts in order to disable someone. Being handy with a gun is a vital part of RDR.</p>
        
                <h2>Game Trailer</h2>
                <div style="text-align: center;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eaW0tYpxyp0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

                <div class="container">
                    <h2>the last of us 2</h2>
                    <h2>Game Overview</h2>
                    <p>The writers who mangled the story deserve the lumps that follow. Despite its gore and violence, The Last Of Us Part II is a beautiful game, with renditions of post-apocalyptic Seattle and Santa Barbara that are simply staggering in detail and scope. The sights and sounds of this game are lush and lovely, gruesome and harrowing.</p>
            
                    <h2>Game Trailer</h2>
                    <div style="text-align: center;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vhII1qlcZ4E" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
    
    
    
    
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $(".to-home-page-btn").on('click', function(){
                window.location = './homePage.html'
            })
        })
    </script>
</body>
</html>
